		body{
			background-color: #EEEEEE;
		}
		ul{
			list-style-type: none;
			margin: 10;
			padding: 0;
			overflow: hidden;
			background-color: #333;
			font-family: "Bebas Neue";
			font-size: 18px;
		}
		li {
			float: left;
		}
		li a{
			display: block;
			color: white;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}
		li a:hover{
			background-color: #FF7600;
		}
		
	label{
			font-family: "Bebas Neue";
			font-size: 18px;
		}

	input[type=text] {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  box-sizing: border-box;
	}

	input[type=password] {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  box-sizing: border-box;
	}

	select{
	  width: 43%;
	  padding: 12px 20px;
	  margin: 8px 10px;
	  box-sizing: border-box;
	  display: inline-block;
	}

	 input[type=submit] {
	  background-color: #4CAF50;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;

	}

	input[type=checkbox] {
	  padding: 12px 20px;
	  margin: 8px 0;
	  box-sizing: border-box;
	  display: inline-table;
	}

	.cep{
		display: inline-table;
		width: 45%;
	}

	.tel{
		display: inline-table;
		width: 50%;
		padding-right: 20px;
		
	}

	.container{	
		display: grid;
		align-content: center;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;

	}
	.container .center{
		position: relative;
		background-color: #EEEEEE;
		box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
		margin: auto;
		padding: 20px;
		border-radius: 20px;
		width: 500px;
		height: 500px;
	
	}
	.container .left{		
		padding: 200px;
	}
	.container .right{
		padding: 200px;
	}